services:
  web:
    build: .
    command: gunicorn myproject.wsgi:application --bind 0.0.0.0:$PORT
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - ../.env

  db:
    image: postgres:14
    restart: always
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # adminer:
  #   image: adminer
  #   restart: always
  #   depends_on:
  #     - db
  #   ports:
  #     - 8080:8080
    
volumes:
  postgres_data: